<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <span> ©︎2022 masafumi330 </span>
        <div class="text-center p-0">
            <a href="https://twitter.com/masafumi330" target="_blank" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://github.com/masafumi330" target="_blank" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- MDB -->
<script type="text/javascript" src="/public/javascripts/mdb.min.js"></script>
</body>


</html>