<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        <span> ©︎2022 masafumi330 </span>
        <div class="text-center p-2">
            <a href="https://twitter.com/masafumi330" target="_blank" class="me-4 text-reset">
                <i class="fab fa-2x fa-twitter"></i>
            </a>
            <a href="https://github.com/masafumi330/ResLis" target="_blank" class="me-4 text-reset">
                <i class="fab fa-2x fa-github"></i>
            </a>
        </div>
    </div>
    <!-- Copyright -->
</footer>
<!-- Footer -->

<!-- MDB -->
<script type="text/javascript" src="/public/javascripts/mdb.min.js"></script>
<!-- 幾何学模様 -->
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="/public/javascripts/js.js"></script>
</body>


</html>