<%- include('partials/header'); %>
  <!-- Jumbotron -->
  <div class="text-center p-5" id="wrapper" style="height: 90vh;">
    <div class="title">
      <h1>Recently Listen</h1>
      <h6>
        <span>「今月どんな曲を聴いたんだろう？」</span><br>
        <span>RecLisはあなたの今月のSpotify Top50 プレイリストを作成します</span>
      </h6>
    </div>
    <div class="text-center sign-in-btn">
      <a class="btn btn-primary btn-lg spotify-btn btn-rounded" href="./login" role="button">Sign in
        With Spotify</a>
    </div>

  </div>
  <!-- Jumbotron -->


  <%- include('partials/footer'); %>