<%- include('partials/header'); %>
  <h1>
    <%= title %>
  </h1>

  <h2>
    <p>あなたのMonthly Playlistを手軽に</p>
  </h2>
  <p>「今月どんな曲を聴いたんだろう？」</p>
  <p>そんな時、今月あなたが聞いた曲のプレイリストを自動作成します。
  </p>

  <a href="./mypage">使ってみる</a>
  <%- include('partials/footer'); %>