<%- include('partials/header'); %>
  <!-- Jumbotron -->
  <div id="particles-js"></div>
  <div class="text-center p-5" id="wrapper" style="height: 90vh;">
    <div>
      <h1 class="mb-3">あなたのMonthly Playlistを手軽に</h1>
      <h4 class="mb-4">
        <p>「今月どんな曲を聴いたんだろう？」</p>
        <p>そんな時、今月あなたが聞いた曲のプレイリストを自動作成します。
      </h4>
    </div>
    <div class="text-center sign-in-btn">
      <a class="btn btn-primary btn-lg spotify-btn btn-rounded" href="./login" role="button">Sign in
        With Spotify</a>
    </div>

  </div>
  <!-- Jumbotron -->


  <%- include('partials/footer'); %>