<%- include('partials/header'); %>
  <div class="p-5 text-center bg-light">
    <%- include('partials/topSongTable'); %>

      <form method="post" action="mypage/toptracks">
        <button type="submit" class="btn btn-primary">Create Playlist</button>
      </form>

  </div>


  <%- include('partials/footer'); %>