<%- include('partials/header'); %>
  <div class="p-5 text-center bg-light">
    <h1>
      MyPage
    </h1>
    <a class="btn btn-primary btn-lg" href="./login" role="button">Spotifyアカウントを認証する</a>
  </div>

  <%- include('partials/footer'); %>