body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E8EFFF;
}

.navbar {
  background-color: #334574;
}

.nav-link,
.navbar-toggler {
  color: #fff;
}

.table {
  word-break: break-all;
}

.sign-in-btn {
  position: relative;
  top: 40vh;
}

.spotify-btn {
  background-color: #1DB954;
}

/*　for PC　*/
.create-playlist-btn {
  position: fixed;
  bottom: 7.5vh;
  right: 10vw;
  font-size: 2vw;
}

@media screen and (max-width:480px) {

  /* for smartphone */
  .create-playlist-btn {
    position: fixed;
    bottom: 6vh;
    /* left: 10vw; */
    right: 7vw;
    font-size: 5vw;
  }
}