* {
  font-family: 'Roboto', sans-serif;
}


body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E8EFFF;
}

.navbar {
  background-color: #000;
}

.nav-link,
.navbar-toggler {
  color: #fff;
}

.title {
  color: #fff;
  width: 100vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
}

.table {
  word-break: break-all;
}

.sign-in-btn {
  position: relative;
  top: 70vh;
}

.btn {
  margin-bottom: 1vw;
}

.spotify-btn {
  background-color: #1DB954;
}

/*　for PC　*/
.create-playlist-btn {
  position: fixed;
  bottom: 7.5vh;
  right: 10vw;
  font-size: 2vw;
}

@media screen and (max-width:480px) {

  /* for smartphone */
  .create-playlist-btn {
    position: fixed;
    bottom: 6vh;
    /* left: 10vw; */
    right: 7vw;
    font-size: 5vw;
  }
}

html,
body {
  height: 100%;
  /*高さを100%にして描画エリアをとる*/
}

#particles-js {
  position: fixed;
  /*描画固定*/
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #35004D;
  /*背景色*/
}

#wrapper {
  position: relative;
  /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  z-index: 1;
  /*z-indexの数字を大きくすることで描画を#particles-jsよりも上に*/
  width: 100%;
  height: 100%;
}