body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #E8EFFF;
}

.navbar {
  background-color: #334574;
}

.nav-link,
.navbar-toggler {
  color: #fff;
}

.table {
  word-break: break-all;
}

td {
  padding: 0.5rem;
}

.spotify-btn {
  background-color: #1DB954;
}

@media screen and (max-width:480px) {

  /* for smartphone */
  .create-playlist-btn {
    position: fixed;
    bottom: 7.5vh;
    left: 10vw;
    right: 10vw;
  }
}

/*　for PC　*/
.create-playlist-btn {
  position: fixed;
  bottom: 7.5vh;
  right: 10vw;
}