<%- include('../partials/header'); %>
  <div class=>
    <h1>Yeah! プレイリストを作成しました！</h1>
    <h6>
      プレイリスト名
    </h6>
    <p>プレイリストイメージ</p>
  </div>
  <div class="text-center sign-in-btn">
    <a class="btn btn-primary btn-lg spotify-btn btn-rounded" href="#" role="button">Open URL</a>
    <a class="btn btn-primary btn-lg spotify-btn btn-rounded" href="/mypage" role="button">Mypageへ戻る</a>
  </div>

  <%- include('../partials/footer'); %>